<div class="img-card">
    <div class="row">
        <div class="col-md-12">
            <div class="circle text-center">
                 <img src="assets/images/profile-imgs/profile-image-01.jpg" class="img-responsive rounded-circle" style="max-height: 150px;" alt="...">
           </div>
       </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Alexandra Blank</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center"style="opacity: 0.3;" >
            <i class="fas fa-minus"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">BSc Software Engineer</h4>
        </div>
    </div>
</div>





