
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let cardItem of cardslist; let i = index;">
      <div class="row card">
              <div class="col-md-12 center-horizontally-box">
                <img alt="{{cardItem.name}}" src="{{cardItem.img}}" class="img-fluid img-responsive center-horizontally" (click)="onImage(cardItem)">
              </div>
              <div class="col-md-12">
                  <div class="card-body">
                      <h5 class="card-title">{{cardItem.name}}</h5>
                        <div class="card-text container" [class.show]=" cardItem.showMore  ? 'show' : '' ">
                          {{cardItem.summery}}
                        </div>
                         <!--<a class="show-less-more" (click)="cardItem.showMore = !cardItem.showMore">{{ cardItem.showMore ? 'show less-': 'show more+' }}</a>-->
                          <a class="show-less-more" (click)="cardItem.showMore = !cardItem.showMore" *ngIf="cardItem.summery.length >= 200 && cardItem.showMore" >-show less</a>
                          <a class="show-less-more" (click)="cardItem.showMore = !cardItem.showMore" *ngIf="cardItem.summery.length >= 200 && !cardItem.showMore" >+show more</a>
                          <a style="color: white; opacity: 0;"  *ngIf="cardItem.summery.length < 200 " >invisible text</a>
                        <div style="margin-top: 10px;"><a href="{{cardItem.link}}" class="btn btn-primary" (click)="cardItem.link == '#' ? onButton(cardItem) :'' " >{{cardItem.stringButton}}</a></div>
                    </div>
              </div>
      </div>
    </ng-template>
 </owl-carousel-o>
