.card{
    display: table-cell;
    cursor: pointer;
 }
 .card:hover{
     background-color: aliceblue ;
 }
 .container {
    font-size: 16px;
    height: 150px;
    overflow: hidden;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
  /* line-height: 16px;*/
 }
 .show {
    overflow: visible;
    height: auto;
}
.center-horizontally-box{
    display: flex;
    height: 15rem;
   /* background-color: whitesmoke;*/
   background-color: white;
    overflow: hidden;
}
.center-horizontally-box .center-horizontally{
    margin: auto auto;
}
a.show-less-more{
    font-weight: bold;
    font-size: small;
    margin-left: 16px;
}

