<div class="row" style="justify-content: center;">
    <div class="col-md-12">
        <app-img-profile></app-img-profile>
    </div>
    <div class="col-md-12">
        <app-personal-ditails></app-personal-ditails>
        <app-skills-list></app-skills-list>
    </div>
     <div class="row">
        <div class="col-md-4 bottom-left" >
            <app-icons></app-icons>
         </div>
         <div class="col-md bottom-right">
            <app-copyright></app-copyright>
         </div>
     </div>
</div>


