<div class="row">
    <div class="col-xs-12">
        <div class="score-box">
         <!--    <svg-icon [src]="path" [svgStyle]="{ 'width.px':30}"></svg-icon> -->
         <span style="font-size: 1.5em; color:#EFCE4A;margin-left: 5px;">
            <i class="fas fa-star"></i>
         </span>
            <span style="font-size: x-large; margin-left: 10px;">
                {{score}}
             </span>
             <div [@bonus]="state" (@bonus.done)="bonusHidden($event)" style=" margin-left: 15px; " >
                 {{bonus}}
             </div>
        </div>
    </div>
</div>